body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }

  body h1 {
    text-align: center;
  }
  
  .candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .candidate {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
  }

  .candidate img {
    background-color: beige;
    display: flex;
    text-align: center;
    width: 100px; /* tamanho da imagem */
    height: 100px;
    border-radius: 50%; /* torna a imagem circular */
    margin: auto; /* espaçamento */
}
  
  .vote-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .vote-button:hover {
    background-color: #3e8e41;
  }